target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.metadata/
bin/

*.class
*.jar
*.war
*.ear
*.log

.DS_Store
Thumbs.db
